* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}


main {
    min-height: 100%;
}

/* HEADER */
.header {
    height: 80px;
    width: 1440px;
    background: #FFFFFF;
    display: flex;
    justify-content: flex-end;



}

.header-navigation {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    align-items: center;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;

}

/* MAIN CONTENT BLOCK */
.main-content {
    display: flex;
    flex-direction: column;
}

.intro {
    width: 1440px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/backgrounds/mountine-background.jfif);
    background-size: 100% 150%;
    background-position: top;



}

.intro-section-header2 {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.intro-section-header1 {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    margin-top: 31.17px;
}

.gray-part {
    width: 1440px;
    height: 345px;
    background-color: #E0EBE6;
    display: flex;
    justify-content: space-evenly;
}

.care-bloks {
    width: 300px;
    height: 380px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    z-index: 1;
    bottom: 114px;

}

.care-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}

.care-images {
    width: 96px;
    height: 96px;
}


/* INTRO HEADING BLOCK */
.intro-heading-small {
    width: 1440px;
    height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/backgrounds/seaside-background.jfif);
    background-position: top;
    background-size: 100%;
}

.plan-heading {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 86px;
}

.price-table {
    border-collapse: collapse;
    margin-bottom: 102px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.45);

}

.all-price-cells {
    width: 252px;
    height: 97px;
    text-align: center;
    border: 1px #000000 solid;
}

.price-first-column {

    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.price-second-column {
    background-color: #EEF3F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.price-third-column {
    background-color: #E0F4FF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.price-fourth-column {
    background-color: #C7E4FF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.flag-images {
    width: 65px;
    height: 65px;
}

/* PERSONAL INFO SECTION */

.personal-info-section {
    width: 1440px;
    height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #024153;
}



.info-general-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;

}

.info-cover {
    background-color: #FFFFFF;
}

.pesonal-info-form {
    width: 100%;
    height: 74%;
    display: flex;
    justify-content: space-evenly;
}

.your-info-input {
    border-radius: 0;
    border: 1px solid #585858;
    height: 39px;
    width: 278px;
}

.red-star {
    color: red;
}



.fieldset-header {
    margin-left: 69px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
}



.info-cover {
    width: 1320px;
    height: 633px;
}

.pesonal-info-form {
    display: flex;
}

.coaches-photo {
    width: 200px;
    height: 200px;
}

.personal-info-fieldsets {

    display: flex;
    flex-direction: column;
    border: 0 none;
    width: 238px;
    padding: 0;

}
/* CHECKBOX-START*/
.kind-of-traveler-checkbox {
    position: relative;
    
}
.choose-kind-checkbox {
    appearance: none;
    position: absolute;
}

.choose-kind-label{
    font-size: 24px;
    color: #585858;
    font-weight: 400;
    padding-left: 33px;
    font-family: 'Open Sans';
    cursor: pointer;
}

.choose-kind-label:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #585858;
    background-color: #FFFFFF;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;;
}

.choose-kind-label:after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(images/checkbox-flags/flag-checkbox.png) no-repeat;
    background-size: 22px 22px;
    position: absolute;
    top: 6px;
    left: 2px;
    z-index: 2;
    opacity: 0;
    transition: opacity .1s linear;
}

.choose-kind-checkbox:checked + .choose-kind-label:before {
    background-color: rgb(224, 224, 224);
    border-color:  #696868;

} 

.choose-kind-checkbox:checked + .choose-kind-label:after {
    opacity: 1;
}
/* CHECKBOX-END */




/* RADIO-START */

.kind-of-traveler-radio{
    position: relative;
}


.kind-radio-input {
    appearance: none;
    position: absolute;
}

.kind-radio-label {
    font-size: 24px;
    color: #585858;
    font-weight: 400;
    padding-left: 33px;
    font-family: 'Open Sans';
    cursor: pointer;
}

.kind-radio-label:before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid #585858;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;;
}
.kind-radio-label:after {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(images/checkbox-flags/black-dot-radio.png);
    background-size: 22px 22px;
    position: absolute;
    left: 2px;
    top: 6px;
    opacity: 0;
    z-index: 2;
    transition: opacity .1s linear;

}



.kind-radio-input:checked + .kind-radio-label:after {
    opacity: 1;
}
.kind-radio-input:checked + .kind-radio-label:before {
    background-color: rgb(224, 224, 224);
    border-color:  #696868;

}




/* RADIO-END */


.important-select {
    border-radius: 0;
    height: 39px;
    width: 362px;
}

.upload-photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 27px;
}

.show-photo {
    width: 100px;
    height: 100px;
    border: 1px solid #585858;
}

.tell-about-you {
    width: 371px;
    height: 114px;
}


/* LAST SECTION */

.last-section {
    width: 1440px;
    height: 856px;
    background-color: #BBC3C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.file-input {
    display: none;
}