* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}


main {
    min-height: 100%;
}

/* HEADER */
.header {
    height: 80px;
    width: 1440px;
    background: #FFFFFF;
    display: flex;
    justify-content: flex-end;



}

.header-navigation {
    display: flex;
    justify-content: space-between;
    gap: 65px;
    align-items: center;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;

}

/* MAIN CONTENT BLOCK */
.main-content {
    display: flex;
    flex-direction: column;
}

.intro {
    width: 1440px;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(images/backgrounds/mountine-background.jfif);
    background-size: 100% 150%;
    background-position: top;



}

.intro-section-header2 {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.intro-section-header1 {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    margin-top: 31.17px;
}

.gray-part {
    width: 1440px;
    height: 345px;
    background-color: #E0EBE6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.care-bloks {
    width: 300px;
    height: 380px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    z-index: 1;
    bottom: 114px;

}

.care-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0%;
}

.care-images {
    width: 96px;
    height: 96px;
}


/* INTRO HEADING BLOCK */
.intro-heading-small {
    width: 1440px;
    height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/backgrounds/seaside-background.jfif);
    background-position: top;
    background-size: 100%;
}

.plan-heading {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 86px;
}

.price-table {
    border-collapse: collapse;
    margin-bottom: 102px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.45);

}

.all-price-cells {
    width: 251.8px;
    height: 96.97px;
    text-align: center;
    border: 1px#000000 solid;


}

.price-first-column {

    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.price-second-column {
    background-color: #EEF3F8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.price-third-column {
    background-color: #E0F4FF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.price-fourth-column {
    background-color: #C7E4FF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.flag-images {
    width: 64.75px;
    height: 65.45px;
}

/* PERSONAL INFO SECTION */

.personal-info-section {
    width: 1440px;
    height: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #024153;
}



.info-general-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;

}

.info-cover {
    background-color: #FFFFFF;
}

.pesonal-info-form {
    width: 100%;
    height: 74%;
    display: flex;
    justify-content: space-evenly;
}



.fieldset-header {
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
}



.info-cover {
    width: 1320px;
    height: 633px;
}

.pesonal-info-form {
    display: flex;
    flex-direction: row;
}

.coaches-photo {
    width: 200px;
    height: 200px;
}

.personal-info-fieldsets {

    display: flex;
    flex-direction: column;
    border: 0 none;

}



/* LAST SECTION */

.last-section {
    width: 1440px;
    height: 856px;
    background-color: #BBC3C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}